<body>
  <div class="container">
    <div class="navbar-container">
      <app-navbar></app-navbar>
    </div>
    <main>
      <div class="main-banner">
        <h1>Tarefa do IATec Academy</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta
          earum esse inventore officia numquam quos enim! Esse, dolores eos,
          alias cupiditate nihil odit dicta, quam ipsa quibusdam doloribus
          magnam.
        </p>
      </div>
      <section class="services-container">
        <ul>
          <li>
            <h3>Originalidade</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
              deserunt consequatur repudiandae, corporis aliquid porro aperiam!
              Eligendi enim exercitationem cupiditate, nobis non debitis
              expedita architecto iusto. Suscipit ipsam soluta doloribus.
            </p>
          </li>
          <li>
            <h3>Performance</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              rem vero sed esse expedita voluptatibus iure temporibus deserunt
              distinctio voluptatem?
            </p>
          </li>
          <li>
            <h3>Nota 10/10</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
        </ul>
      </section>
      <section class="searchdomain-container">
        <h2>Este é o meu terceiro componente</h2>
        <p>O meu terceiro componente está dentro do botão</p>
        <button type="button" class="app-terceiro-componente">
          Ir para componente
        </button>
      </section>
    </main>
    <app-footer></app-footer>
  </div>
</body>
